@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-secondary: #ec4899;
  --color-dark: #0f172a;
  --font-sans: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-dark);
  color: white;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}